@font-face
{
	font-family: Roboto;
	src: url(images/Roboto.ttf);
}
@font-face
{
	font-family: Inconsolata;
	src: url(images/Inconsolata.otf);
}
body
{
	background-image: url(images/background.jpg);
	font-family: Roboto;
	font-size: 14px;
	margin: 0;
}
body#preview
{
	background-image: none;
	height: 100%;
	width: 100%;
}
a
{
	color: #A72A2A;
	text-decoration: none;
}
pre, code
{
	color: #156915;
	font-family: Inconsolata;
}
div.center
{
	text-align: center;
}
div.side
{
	background-image: url(images/texture.png);
	color: #F4F4F4;
	padding: 0px;
	width: 20%;
}
div.side > *
{
	padding: 0 10px;
}
div#header
{
	height: 64px;
	width: auto;
}
div#left
{
	float: left;
}
div#left a
{
	text-decoration: none;
}
div#left h1
{
	text-align: center;
}
div#right
{
	float: right;
}
div#center
{
}
div#footer
{
	clear: both;
	font-size: 75%;
}
iframe#teslore
{
	width: 99.7%;
	height: 99.2%;
}
a#return
{
	background-color: #161616;
	padding: 5px;
	position: absolute;
	top: 25px;
	left: 10px;
	text-align: center;
}
ul.jqexpand
{
	display: none;
}
